{% extends 'base.html' %}

{%block content%}

  {% if object %}
    <h1>Edit <span class="teal-text">{{object.name}}</span></h1>
  {% else %}
    <h1>Add Bar</h1>
  {% endif %}
  <form action="" method="post">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
      <td>
        <tr>
          <th>
        <label for="has_food">
          <input type="checkbox" name="has_food" id="has_food">
          <span></span>
        </label>
        </th>
        </tr>
      </td>
    </table> 
    <input type="submit" value="Submit!" class="btn waves-effect waves-teal">
  </form>
<script>
  var selectEl = document.getElementById('id_price_range');
    M.FormSelect.init(selectEl);
</script>
{% endblock %}