


<ul class="right">
  <!-- changes below -->
  <li><a href="{% url 'about' %}">About</a></li>
  {% if user.is_authenticated %}
    <li><a href="">View All My Games</a></li>
    <li><a href="">View All Bars</a></li>
    <li><a href="">Add a Bar</a></li>
    <li><a href="">Add a Game</a></li>
    <li><a href="{% url 'logout' %}">Log Out</a></li>
  {% else %}
    <li><a href="{% url 'signup' %}">Sign Up</a></li>
    <li><a href="{% url 'login' %}">Log In</a></li>
    <li><a href="">View All Games</a></li>
  {% endif %}
</ul>

{% block content %}

{% endblock %}