{% extends 'base.html' %}

{%block content%}
<div class="container">
  <div class="container">
    <h1 class="title" data-text="ALL BARS">ALL BARS</h1>
</div>
</div>
<a href="{% url 'bars_create' %}">Add a Bar</a>
{% for bar in bars %}
  <div class="row">
    <div class="col s12 m6">
      <div class="card indigo">
        <div class="card-content white-text">
          <span class="card-title">{{bar.name}}</span>
          <p></p>
        </div>
        <div class="card-action">
          <a href="{% url 'bar_details' bar.id %}">Bar Details</a>
        </div>
      </div>
    </div>
  </div>
{% endfor %}

{% endblock %}