{% extends 'base.html' %}

{% block content %}

<h1>Bar Details</h1>

<div class="row">
    <div class="col s12 m6">
      <div class="card indigo">
        <div class="card-content white-text">
          <span class="card-title">{{bar.name}}</span>
          <p>Location: {{bar.location}}</p>
          <p>Price Range: </p>
            {% if bar.price_range == 1%}
            <p>$</p>
            {% elif bar.price_range == 2%}
            <p>$$</p>
            {% else %}
            <p>$$$</p>
            {% endif %}
          <p>Food?: {{bar.has_food}}</p>
        </div>
        <div class="card-action">
        <div class="col s6">
            <form action="{% url 'games_create' bar.id %}" method="post">
                {% csrf_token %}
                {{ game_form.as_p }}
                <input type="submit" class="btn waves-effect waves-teal" value="Add Game">
            </form>
          <a href="{% url 'bars_update' bar.id %}">Update</a>
          <a href="{% url 'bars_delete' bar.id %}">Delete</a>
        </div>
      </div>
    </div>
  </div>

  {% for game in games %}
    {% if game.bar.id == bar.id %}
      <a href="{% url 'game_details' game.id %}">{{game.name}}</a>
    {% endif %}
  {% endfor %}

{% endblock %}