{% extends 'base.html' %}

{% block content %}


<h1>{{game.name}}</h1>


{% for photo in game.photo_set.all %}
    <img class="responsive-img card-panel" src="{{photo.url}}">
{% empty %}
    <div class="card-panel teal-text center-align">No Photos Uploaded</div>
{% endfor %}
<form action="{% url 'add_photo' game.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
    {% csrf_token %}
    <input type="file" name="photo-file">
    <br><br>
    <input type="submit" class="btn" value="Upload Photo">
</form>


<div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">{{bar.name}}</span>
          <p>Bar: {{game.bar.name}}</p>
          <p>Price: {{game.price}}</p>
          <p>Number of Players: {{game.number_of_players}}</p>
          <p>Condition: {{game.condition}}</p>
          <p>Comments: {{game.comments}}</p>
        </div>
        <div class="card-action">
        <div class="col s6">
        </div>
      </div>
    </div>
  </div>
    <a href="{% url 'games_update' game.id %}">Update</a>
    <a href="{% url 'games_delete' game.id %}">Delete</a>

{% endblock %}