{% extends 'base.html'%}

{% block content %}

<div class="container">
    <h1 class="title" data-text="ALL GAMES">ALL GAMES</h1>
</div>
{% for game in games%}
  <div class="row">
    <div class="col s12 m6">
      <div class="card indigo">
        <div class="card-content white-text">
          <span class="card-title">{{game.name}}</span>
          <p></p>
        </div>
        <div class="card-action">
          <a href=" {% url 'game_details' game.id %}">Game Details</a>
        </div>
      </div>
    </div>
  </div>
{% endfor %}

{% endblock %}